h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 9, 9);   
    display: flex;
    justify-content: center;
    
}
body {
    background-image: URL(temporary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.block {
    display: block;
    position: fixed;
    left: 24%;
    bottom: 50px;
    height: 80px;
    width: 50%;
    border: none;
    background-color: blue;
    color: black;
    padding: 14px 28px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
  }